
.cell_container {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, #000000, 1, 0, 0, 1);
}

.trans_icon_container {
	-fx-background-color: #FFFFFF;
	-fx-alignment: center;
	-fx-spacing: 5;
}

.trans_date_lbl {
	-fx-text-fill: #AAAAAA;
	-fx-font-weight: 700;
}

.trans_paddress_lbl {
	-fx-text-fill: #000000;
	-fx-font-weight: 700;
}

.cell_container Line {
	-fx-stroke: #EEEEEE;
}

.trans_amount_lbl {
	-fx-background-color: #132A13;
	-fx-background-radius: 2;
	-fx-text-fill: #FFFFFF;
	-fx-padding: 5;
	-fx-font-weight: 700;
	-fx-pref-width: 65;
	-fx-alignment: center;
}

.trans_amount_lbl FontAwesomeIconView {
	-fx-fill: #FFFFFF;
}

.in_icon {
	-fx-fill: blue;
}

.out_icon {
	-fx-fill: red;
}